.filters {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline;
  }

  button {
    display: inline-block;
    margin: 3px;
    padding: 3px 7px;
    border: 1px solid transparent;
    border-radius: 3px;
    background: none;
    color: inherit;
    cursor: pointer;
    transition: border-color 0.2s ease;

    &:hover:not(.selected):not(.active) {
      border-color: rgba(175, 47, 47, 0.1);
    }

    &.selected,
    &.active {
      border: 2px solid #17a2b8;
      background-color: #17a2b8;
      color: white;
      cursor: default;
    }
  }
}

@media (max-width: 430px) {
  .filters {
    bottom: 10px;
    position: relative;
  }
}
