.view {
  position: relative;
}

.toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;

  text-align: center;
  width: 40px;
  height: auto;

  border: none;
  appearance: none;
  cursor: pointer;
  opacity: 0;

  & + label {
    background-repeat: no-repeat;
    background-position: center left;
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
  }

  &:checked + label {
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
  }
}

.description {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: gray;
}

.title {
  display: block;
  max-width: 160px;
  margin-right: 30px;
  flex: 1;

  word-break: break-all;
  line-height: 1.2;
  font-weight: 400;
  text-align: inherit;
}

.completed {
  text-decoration: line-through;
  transition: color 0.4s;
  color: #cdcdcd;
}

.created {
  font-size: 13px;
  color: gray;
}

.time {
  margin-right: 10px;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 30px;
  height: 40px;
  font-size: 34px;

  color: #cc9a9a;
  cursor: pointer;
  transition: color 0.2s ease-out;

  &:hover {
    color: #af5b5e;
  }
}

.icon-destroy {
  right: 10px;

  &:after {
    content: '×';
    display: block;
    line-height: 1;
    transform: translateY(-3px);
  }
}

.icon-edit {
  right: 45px;
  font-size: 19px;

  &:after {
    content: '✎';
  }
}

.icon-pause,
.icon-play {
  position: relative;

  width: 18px;
  height: 18px;
  margin-right: 10px;
  font-size: 18px;

  &::before {
    position: absolute;
    right: 2px;
    bottom: 3px;

    display: block;
    width: 18px;
    height: 18px;
    font-size: 20px;
    cursor: pointer;
  }
}

.icon-play::before {
  content: '▶';
}

.icon-pause::before {
  content: '⏸';
  font-size: 28px;
  transform: translateY(-6px);
}

.edit {
  display: block;
}

.titleBox {
  display: flex;
  width: 160px;
  align-items: center;
  flex: 0.8;
}

.editAsTitle {
  width: 100%;

  border: 0;
  padding: 0;
  background: transparent;
  box-shadow: none;
  outline: none;

  font: inherit;
  line-height: 1.2;
  color: inherit;
  font-weight: 400;
  word-break: break-all;
  resize: none;
}

.toggle:focus-visible + label {
  position: relative;
}

.toggle:focus-visible + label::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 50%;
  width: 34px;
  height: 34px;
  transform: translateY(-50%);
  border-radius: 5px;
  box-shadow: 0 0 0 2px -webkit-focus-ring-color;
  pointer-events: none;
}
